.weatherBg{
    background:url("https://cdn.pixabay.com/photo/2015/08/30/11/17/shore-914149_960_720.jpg");
    /* background-repeat: repeat-x; */
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.heading{
    color: white;
}

.weatherResultBox{
    margin: auto;
    width: 500px;
    height: 300px;
}

.weathericon{
    margin-top: -33rem;
    width: 100px;
    height: 100px;
}

.weatherCity{
    font-size: 35px;
    margin-top:-14rem;
}

.waetherTemp{
    font-size: 55px;
    font-weight: 700;
}